*{
    margin: 0px;
}
.outer{
    margin: 0px auto;
    padding-bottom: 10px;
    border: 1px solid black;
    height: 830px;
    width: 700px;
    text-align: left;
    font-size: 16px;
}
img{
    border-radius:50%;
    width: 130px;
    height:140px;
    display: block;
    margin-top: -20px;
    margin-left: 260px;
    margin-right:-40px;
}
.objective h2{
    text-align: left;
    margin-top: -120px;
    padding: auto;
}
.contact h2{
    margin-top: -120px;
    margin-left: -180px;
    text-align: justify;
    font-size: medium;
    float: right;
    padding: auto;
    padding-right: right;
}
.skills h2{
    padding-left: 0px;
    margin-top: 2px;
    text-align: left;
}
div{
    border-radius: 2px;
}
body{
    border: 100px;
}
table
{
    text-align: center;
    width: 100%;
    border: 1px dashed black;
}
#heading
{
    text-align: center;
    font-size: medium;
    font-weight:bold;
    padding-left: 0%;
    }
td{
        padding: 2px;
        border: 1px black solid ;
    }
h4{
    float: right;
    margin-left: -200px;
    padding: auto;
    text-align: justify;
}
